/********** Utility Start **********/
/**********************************/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 font-size: 62.5%;
 font-family: "Poppins", sans-serif;
}

button,
a,
select,
option {
 font-family: "Poppins", sans-serif;
 text-decoration: none;
}

:root {
 --whiteColor: #ffffff;
 --offWhite: #f0f0f0;
 --darkGray: #181818;
 --grayColor: #444444;
 --lightGray: #b2b2b2;
 --purple: #680068;
 --redColor: #ff0000;
 --btnColor: #cc0000;
 --starColor: #ff4500;
 --brandBg: #303030;
 --footBg: #191919;
}

/* common classes */
.container {
 max-width: 90%;
 margin: 0 auto;
 padding: 5% 0;
}

.page-container {
 max-width: 90%;
 margin: 0 auto;
 padding: 10% 0;
}

/* red class */
.red {
 color: var(--redColor);
}

/* purple class */
.purple {
 color: var(--purple);
}

/* h1 */
h1 {
 font-size: 5rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 line-height: 5.5rem;
 margin-bottom: 2rem;
 font-weight: 600;
 color: var(--darkGray);
}

/* p-tag */
p {
 color: var(--grayColor);
 font-size: 1.8rem;
 margin-bottom: 2rem;
}

/* para footer */
.p-foot {
 color: var(--lightGray);
 font-size: 1.4rem;
 margin-bottom: 2.5rem;
}

/* h3 */
h3 {
 font-size: 3rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 margin-bottom: 1rem;
 color: var(--darkGray);
 padding-top: 5rem;
 font-weight: 500;
}

.h3-light {
 font-size: 2.5rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 margin-bottom: 2.5rem;
 color: var(--offWhite);
 font-weight: 400;
}

.small-h3 {
 font-size: 1.5rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 margin-bottom: 1rem;
 color: var(--darkGray);
 font-weight: 600;
}

h5 {
 font-size: 1.8rem;
 color: var(--grayColor);
 margin-bottom: 1rem;
 font-weight: 600;
}

.h5-bottom {
 margin-bottom: 4rem;
}

/* btn-style */
.btn-style {
 background-color: var(--btnColor);
 display: inline-block;
 color: var(--whiteColor);
 padding: 1rem 2rem;
 font-size: 1.4rem;
 border-radius: 20rem;
 transition: all 0.2s ease-in-out;
}

.btn-style:hover {
 background-color: transparent;
 color: var(--redColor);
 border: 1px solid var(--redColor);
}

/* btn-style for quick view*/
.btn-quick {
 background-color: var(--whiteColor);
 /* display: inline-block; */
 color: var(--darkGray);
 padding: 1rem 2rem;
 font-size: 1.5rem;
 border-radius: 20rem;
 transition: all 0.3s ease-in-out;
 font-weight: 600;
}

.btn-quick:hover {
 background-color: var(--grayColor);
 color: var(--offWhite);
}

/* btn-style for cart*/
.btn-cart {
 background-color: var(--offWhite);
 display: block;
 color: var(--darkGray);
 padding: 1rem 2rem;
 font-size: 1.4rem;
 border-radius: 20rem;
 transition: all 0.3s ease-in-out;
 font-weight: 500;
 border: 1px solid var(--offWhite);
 cursor: pointer;
}

.btn-cart:hover {
 background-color: var(--whiteColor);
 border: 1px solid var(--darkGray);
}

/* quick view common for all img*/
.quick-view {
 text-align: center;
 padding: 1rem;
 position: absolute;
 top: 60%;
 width: 100%;
 opacity: 0;
 transition: all 0.3s ease-in-out;
}

/* rating star common */
.star-icon {
 font-size: 1.4rem;
 margin-bottom: 1rem;
}

.checked {
 color: var(--starColor);
}

/********** Utility End **********/
/**********************************/

/********** Header Start **********/
/**********************************/
.head {
 background-image: url("../img/hero.jpg");
 background-size: cover;
 width: 100%;
}

/* navbar */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2rem 5%;
 width: 100%;
 position: fixed;
 left: 0;
 top: 0;
 z-index: 2;
 background-color: var(--whiteColor);
}

/* logo */
.logo a {
 font-size: 2.2rem;
 font-weight: 700;
 letter-spacing: 0.1rem;
 border: 2px solid var(--purple);
 padding: 0 0.5rem;
 position: relative;
}
/* ul */
.nav-menu {
 display: flex;
 position: relative;
}

/* li */
.nav-list {
 list-style-type: none;
 padding-left: 1.5rem;
 position: relative;
}

/* a */
.nav-link {
 font-size: 1.8rem;
 color: var(--grayColor);
 transition: all 0.2s ease-in-out;
 position: relative;
 display: block;
 padding-left: 3rem;
}

.nav-link:hover,
.nav-link.current {
 color: var(--redColor);
}

/* cart icon */
.cart-icon {
 color: var(--redColor);
 font-size: 1.8rem;
 margin-left: 0.5rem;
}

/* hamburger */
.hamburger {
 display: none;
}

.bar {
 display: block;
 width: 2.4rem;
 height: 0.3rem;
 margin-bottom: 0.5rem;
 background-color: var(--grayColor);
 transition: all 0.2s ease-in-out;
}

/* for sticky navar bar big screen style*/
.navbar.sticky {
 padding: 1.5rem 5%;
 transition: all 0.4s ease-in-out;
}

/* tagline */
.tag-line {
 padding-left: 5%;
 padding-top: 25rem;
 padding-bottom: 26rem;
}

/* arrow icon */
.arrow-icon {
 margin-left: 0.5rem;
 font-size: 1.4rem;
}

/********** Section 1 category start **********/
/*********************************************/
.sec1 {
 width: 100%;
 text-align: center;
 padding-top: 5rem;
}

.sec1 .hr {
 display: block;
 width: 12%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: var(--redColor);
}

.category {
 display: flex;
 justify-content: space-between;
}

/* position relative for overlay */
.category-common {
 width: 32%;
 position: relative;
}

.category-common img {
 width: 100%;
}

.overlay {
 font-size: 3rem;
 background-color: rgba(0, 0, 0, 0.5);
 color: var(--offWhite);
 padding: 2rem;
 letter-spacing: 0.1rem;
 width: 100%;
 position: absolute;
 bottom: 0;
 opacity: 0;
 transition: all 0.3s ease-in-out;
}

.category-common:hover .overlay {
 opacity: 1;
}

/********** Section 2 Best Seller Start **********/
/************************************************/
.sec2 {
 text-align: center;
 background-color: var(--offWhite);
}

.sec2 .hr {
 display: block;
 width: 5%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: var(--redColor);
}

.popular {
 display: flex;
 justify-content: space-between;
 text-align: left;
}

/* for quick view add position relative */
.popular-common {
 width: 24%;
 transition: all 0.4s ease-in-out;
 cursor: pointer;
 position: relative;
}

.popular-common:hover {
 transform: translateY(-2rem);
}

/*showing quick view on hover */
.popular-common:hover .quick-view {
 opacity: 1;
}

.popular-common img {
 width: 100%;
}

/********** Section 3 Start New Arrival**********/
/***********************************************/
.sec3 {
 text-align: center;
}

.sec3 .hr {
 display: block;
 width: 12%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: var(--redColor);
}

.latest {
 display: flex;
 justify-content: space-between;
 text-align: left;
 flex-flow: row wrap;
}

/* add position relative for quick view */
.latest-common {
 width: 24%;
 transition: all 0.4s ease-in-out;
 cursor: pointer;
 position: relative;
}

.latest-common:hover {
 transform: scale(1.05);
}

/* for quick view on hover*/
.latest-common:hover .quick-view {
 opacity: 1;
}

.latest-common img {
 width: 100%;
}

/********** Section 4 Start Deal of the Week**********/
/*****************************************************/
.sec4 {
 width: 100%;
 background-image: linear-gradient(to right, #dd5e89, #f7bb97);
 text-align: center;
}

.sec4 .hr {
 display: block;
 width: 20%;
 margin: 0 auto 2rem;
 display: block;
 height: 0.4rem;
 background-color: var(--redColor);
}

.deal {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.deal-common {
 width: 48%;
}

.deal-common img {
 width: 100%;
}

/* timer */
#timer {
 font-size: 3rem;
 font-weight: 500;
 color: var(--redColor);
 padding: 1rem;
 margin-bottom: 2rem;
}

#timer div {
 display: inline-block;
 min-width: 8rem;
 padding: 1rem;
 background: var(--whiteColor);
 border-radius: 1rem;
 margin: 1.5rem;
}

#timer div span {
 color: var(--redColor);
 display: block;
 font-size: 1rem;
 font-weight: 600;
}

/********** Section 5 Start testimony**********/
/**********************************************/
.sec5 {
 text-align: center;
 width: 100%;
}

.sec5 .hr {
 display: block;
 width: 25%;
 margin: 0 auto 2rem;
 display: block;
 height: 0.4rem;
 background-color: var(--redColor);
}

.testimony {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}

.test-common {
 width: 23%;
 background-color: var(--offWhite);
 padding: 2rem;
 border-radius: 2rem;
}

.quote-icon {
 font-size: 2.5rem;
 color: var(--starColor);
 margin-bottom: 2rem;
}

.test-common img {
 border-radius: 50%;
}

/********** Section 6 Start Brand**********/
/*****************************************/
.sec6 {
 width: 100%;
 background-color: var(--brandBg);
 text-align: center;
}

.brand {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.brand-common {
 width: 20%;
}

.brand-common img {
 width: 30%;
 filter: brightness(0%);
 transition: all 0.4s ease-in-out;
 cursor: pointer;
}

.brand-common img:hover {
 filter: brightness(100%);
 transform: scale(1.3);
}

/********** Section 7 Footer Start**********/
/*****************************************/
.foot {
 width: 100%;
 background-color: var(--footBg);
}
.foot-content {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 margin-bottom: 5rem;
}

/* shop info  */
.shop {
 width: 30%;
}

.foot-social {
 display: flex;
 list-style-type: none;
 cursor: pointer;
}
.foot-social li {
 font-size: 1.6rem;
 margin-right: 3rem;
 color: var(--lightGray);
 background-color: var(--grayColor);
 padding: 1rem 1.5rem;
 border-radius: 50%;
}

/* info and acount */
.info,
.account {
 width: 15%;
}

.common-ul li {
 cursor: pointer;
 list-style-type: none;
 margin-bottom: 2.5rem;
}

/* news */
.news {
 width: 30%;
}
.foot-form {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
.foot-form input {
 width: 70%;
 padding: 0.6rem 1rem;
 border: none;
}
.foot-form input:focus {
 border: none;
 outline: none;
}

.foot-form-btn {
 display: inline-block;
 background-color: var(--redColor);
 padding: 0.5rem 1rem;
 font-size: 1.2rem;
 color: var(--whiteColor);
 letter-spacing: 0.1rem;
}

/* copy right */
.foot-hr {
 margin-bottom: 2rem;
}
.copy-right {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.payment-card {
 font-size: 3.5rem;
 color: var(--lightGray);
}

/**********All Product Section Shop Page Start**********/
/*******************************************************/
.all-products {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.hr-allproduct {
 display: block;
 width: 40%;
 margin: -0.8rem 0 5rem;
 height: 0.4rem;
 background-color: var(--redColor);
}

select {
 background-color: var(--lightGray);
 padding: 0.8rem 2rem;
}

select:focus {
 border: none;
 outline: none;
}

/* pagination */
.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 5rem;
}

.pagination a {
 color: black;
 padding: 0.8rem 1.6rem;
 text-decoration: none;
 transition: all 0.3s;
 border: 1px solid var(--grayColor);
 margin: 0 0.5rem;
 font-size: 1.5rem;
}

.pagination .current,
.pagination a:hover {
 color: var(--redColor);
 border-color: var(--redColor);
}

/**********Img Gallery Slide Show Section Start************/
/*********************************************************/

/* page navigation */
.top-notation {
 margin-bottom: 5rem;
}

.top-notation a {
 color: var(--darkGray);
}

.top-icon {
 font-size: 1.5rem;
 margin-right: 0.5rem;
 color: var(--redColor);
}

.top-span {
 text-decoration: none;
 font-size: 1.5rem;
 margin-right: 2rem;
}

.top-current:hover,
.top-notation .top-current-active {
 color: var(--redColor);
}

/* main container */
.gallery {
 display: flex;
 justify-content: space-between;
 align-self: flex-start;
}

img {
 vertical-align: middle;
}

/* left side img style */

/* position relative for arrow */
.left-gallery {
 position: relative;
 width: 30%;
 margin: 0 auto;
 border: 0.1rem solid var(--darkGray);
}

/* Hide the images by default */
.mySlides {
 width: 100%;
 border-bottom: 0.1rem solid var(--lightGray);
}

.mySlides img {
 width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
 cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
 cursor: pointer;
 position: absolute;
 top: 40%;
 width: auto;
 padding: 1.6rem;
 margin-top: -5rem;
 color: var(--darkGray);
 font-weight: bold;
 font-size: 2rem;
 border-radius: 0 3px 3px 0;
 user-select: none;
 -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover background*/
.prev:hover,
.next:hover {
 background-color: var(--lightGray);
}

/* small img */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Six columns side by side */
.row {
 display: flex;
}

.column {
 width: 25%;
 border-left: 0.1rem solid var(--lightGray);
}

/* Add a transparency effect for thumnbail images */
.demo {
 opacity: 0.5;
}

.active,
.demo:hover {
 opacity: 1;
}

/* right side text style */

/* right container*/
.right-text {
 width: 60%;
}

/* for product detail name */
.right-text h3 {
 padding-top: 0;
}

/* size */
.size-select {
 padding: 0.5rem 0;
 margin-bottom: 2rem;
}

/* number */
.quantity {
 display: block;
 width: 5%;
 border: 1px solid var(--darkGray);
 margin-bottom: 2rem;
}

/* add to cart button */
.add-btn {
 margin-bottom: 2rem;
}

/* for product detail para */
.right-text p {
 max-width: 60%;
}

/**********Contact Form Start************/
/*************************************/

.sec-form {
 background-image: linear-gradient(#de6262, #ffb88c);
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 padding-top: 10rem;
}

/* img container */
.img-container {
 width: 30%;
}

.img-container img {
 width: 100%;
}

/* form container */
.form-container {
 width: 30%;
}

/* top heading */
.form-wrap h3 {
 padding-top: 0;
 text-align: center;
}

/* white background area */
.form-wrap {
 padding: 1rem 2rem;
 background-color: var(--whiteColor);
 color: var(--darkGray);
}

/* group of lable and input  */
.form-group {
 margin-bottom: 1.5rem;
}

/* form lable */
.form-group label {
 color: var(--darkGray);
 font-size: 1.5rem;
}

/* form input */
.form-wrap .form-group input {
 width: 100%;
 padding: 1rem;
 border-radius: 0.5rem;
 border: 1px solid var(--lightGray);
}

.form-group input:focus {
 outline: none;
 border-color: var(--redColor);
}

/* form button */
.form-wrap button {
 display: block;
 background-color: var(--redColor);
 width: 100%;
 color: #fff;
 padding: 10px;
 margin: 2rem 0 3rem;
 cursor: pointer;
 border: none;
 transition: all 0.3s ease-in-out;
}

.form-wrap button:hover {
 background-color: var(--btnColor);
}

/* bottom text terms and condition */
.form-wrap .bottom-text {
 font-size: 1.4rem;
 text-align: center;
 color: var(--darkGray);
}

/* footer p */
.log p {
 text-align: center;
 margin-top: 10px;
}

/* login / sign in link*/
.log a {
 color: var(--redColor);
}
.log a:hover {
 color: var(--btnColor);
}

/**********Cart Page Start************/
/*************************************/

/* main container */
.cart {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

/* cart common for both left and right*/
.cart-common {
 border: 1px solid var(--lightGray);
 padding: 3rem;
}

/*product section left side*/
.cart-product {
 width: 60%;
}

/* product heading  */
.product-heading {
 display: flex;
 justify-content: space-between;
 margin-bottom: 3rem;
 border-bottom: 1px solid var(--lightGray);
}

/* cart product deatails*/
.cart-product-common {
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid var(--lightGray);
 margin-bottom: 3rem;
}

.cart-product-common img {
 margin-bottom: 1rem;
}

/* quantity input number tag */
.cart-product-common .quantity-cart {
 width: 8%;
 height: 10%;
 border: 1px solid var(--grayColor);
}

.cart-product-common .quantity-cart:focus {
 outline: none;
 border: 1px solid var(--grayColor);
}

/* product section coupon */
.coupon {
 display: flex;
 justify-content: space-between;
}
.coupon input {
 padding: 0rem 0.8rem;
 border: 1px solid var(--offWhite);
 height: 100%;
 padding: 1rem 2rem;
}

/*total section right side*/
.cart-total {
 width: 35%;
}

/* top h3  */
.cart-total h3 {
 padding-top: 0rem;
}

/* all h5 in cart total */
.cart-total h5 {
 margin-right: 2rem;
 margin-bottom: 3rem;
}

/* sub total */
.sub-total {
 display: flex;
}

/* shipping */
.shipping {
 display: flex;
}

/* shiping details right side */
.shipping-details {
 width: 60%;
}

.shipping-details p {
 font-size: 1.6rem;
}

/* for select a country */
.shipping-details .country {
 background-color: var(--offWhite);
 margin-bottom: 2rem;
}

/* for state/ country and zip-code */
.cart-input-common {
 padding: 1rem;
 margin-bottom: 2rem;
 background-color: var(--offWhite);
 border: 1px solid var(--offWhite);
 border-radius: 2rem;
}

.cart-input-common:focus {
 border: 1px solid var(--grayColor);
 outline: none;
}

/* for margin bottom */
.update-total {
 text-align: center;
 margin-bottom: 5rem;
}

/* total */
.total {
 display: flex;
}

/* checkout */
.checkout {
 text-align: center;
}

.checkout:hover {
 background-color: var(--grayColor);
 color: var(--offWhite);
 border: none;
}

/********** Media Query For Mobile Start **********/
/**************************************************/
@media only screen and (min-width: 280px) and (max-width: 767px) {
 /* common class start (M)*/
 .page-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 30% 0 15%;
 }

 h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  font-weight: 600;
 }

 p {
  font-size: 1.6rem;
 }

 .p-foot {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
 }

 h3 {
  padding-top: 2.5rem;
 }

 .h3-light {
  margin-bottom: 1.5rem;
 }

 h5 {
  font-size: 1.5rem;
  font-weight: 500;
 }

 .btn-style {
  margin-bottom: 2rem;
 }

 .star-icon {
  font-size: 1rem;
 }

 /********* header Start (M)*********/
 .head {
  background-position: center right 50%;
 }

 .nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: var(--offWhite);
  flex-direction: column;
  width: 100%;
 }

 .nav-list {
  margin: 2rem auto;
 }

 .nav-list,
 .nav-link {
  padding-left: 0;
 }

 .hamburger {
  display: block;
 }

 /* when we click on hamburger */
 .navbar.active {
  background-color: var(--offWhite);
 }

 .nav-menu.active {
  top: 6rem;
 }

 /* hamburger transform */
 .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
 }
 .hamburger.active .bar:nth-child(2) {
  opacity: 0;
 }
 .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
 }

 /* hamburger color */
 .hamburger.active .bar {
  background-color: var(--grayColor);
 }

 /* tagline */
 .tag-line {
  padding-bottom: 20rem;
 }

 /********* Section 1 Start Category (M)*********/
 .sec1 .hr {
  width: 30%;
  margin-bottom: 2rem;
 }
 .category {
  flex-flow: column nowrap;
 }
 .category-common {
  width: 100%;
 }
 .category-common img {
  width: 100%;
  margin-bottom: 2rem;
 }

 /***** Section 2 Start best seller Start (M)******/
 .sec2 .hr {
  width: 25%;
 }

 .popular {
  flex-flow: column nowrap;
 }

 .popular-common {
  width: 100%;
 }

 .popular-common img {
  width: 100%;
  margin-top: 2rem;
 }

 /******* Section 3 New Arrivals Start (M)*********/
 .sec3 .hr {
  width: 20%;
 }

 .latest {
  flex-flow: column nowrap;
 }

 .latest-common {
  width: 100%;
 }

 .latest-common img {
  width: 100%;
 }

 /******* Section 4 Deal of the Week (M)*********/
 .sec4 .hr {
  width: 30%;
 }

 .deal {
  flex-flow: column nowrap;
 }

 .deal-common {
  width: 100%;
 }

 .deal-text {
  order: 2;
 }

 .deal-img {
  order: 1;
 }

 .deal-common img {
  width: 100%;
 }

 /* timer */
 #timer {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3rem;
 }

 #timer div {
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  color: var(--btnColor);
  min-width: 6rem;
 }

 #timer div span {
  color: var(--starColor);
 }

 /******* Section 5 Start Testimony (M)*********/
 .sec5 .hr {
  width: 30%;
 }

 .testimony {
  flex-flow: column nowrap;
 }

 .test-common {
  width: 100%;
  margin-bottom: 2rem;
 }

 /******* Section 6 Brand Start (M)*********/
 .brand {
  flex-flow: column nowrap;
 }

 .brand-common {
  width: 100%;
 }

 .brand-common img {
  width: 30%;
  margin: 2rem 0;
 }

 /******* Section 7 Footer Start (M)*********/
 .foot-content {
  flex-flow: column nowrap;
 }

 .shop,
 .info,
 .account,
 .news {
  width: 100%;
 }

 .foot-social li {
  font-size: 1.4rem;
  margin-right: 2rem;
 }

 .common-ul li {
  margin-bottom: 1.5rem;
 }

 /* copyright */
 .copy-right {
  text-align: center;
  flex-flow: column nowrap;
 }

 .payment-card {
  font-size: 3rem;
 }

 /**********All Product Section Start Shop Page (M)**********/
 .product-top-head h3 {
  font-size: 2rem;
  font-weight: 600;
 }

 select {
  padding: 0.8rem 0;
 }

 .hr-allproduct {
  margin-bottom: 4rem;
 }

 /* pagination */
 .pagination {
  margin: 3rem 0;
 }

 /************Img Slide Show Section Start img gallery (M)**********/
 /* page navigation */
 .top-notation {
  margin-bottom: 0rem;
 }

 .top-span {
  font-size: 1.5rem;
  margin-right: 0.9rem;
 }

 /* main container */
 .gallery {
  flex-flow: column nowrap;
 }

 /* left img */
 .left-gallery {
  width: 100%;
  margin: 5rem auto 2rem;
 }

 .prev,
 .next {
  top: 50%;
  padding: 1rem;
  font-size: 1.8rem;
 }

 /* right text */
 .right-text {
  width: 100%;
 }

 .right-text h3 {
  font-size: 2rem;
 }

 .quantity {
  width: 12%;
 }

 .right-text p {
  max-width: 100%;
 }

 /************ Contact Page Start (M)**********/
 .sec-form {
  flex-flow: column nowrap;
  padding: 10rem 0 0;
 }

 .img-container {
  width: 50%;
  margin: 0 auto;
 }

 .form-container {
  width: 100%;
 }

 .log p {
  font-size: 1.4rem;
 }

 /************ Cart Page Start (M)**********/
 /* main container */
 .cart {
  flex-flow: column nowrap;
 }

 .cart-common {
  padding: 3rem 0.5rem;
  margin-bottom: 2rem;
 }

 /* product left side */
 .cart-product {
  width: 100%;
 }

 .cart-product-common .quantity-cart {
  width: 10%;
 }

 .coupon {
  flex-flow: column nowrap;
 }

 .coupon input {
  margin-bottom: 2rem;
 }

 /* total right side */
 .cart-total {
  width: 100%;
 }

 .cart-input-common {
  width: 90%;
 }

 .update-total {
  font-size: 1.2rem;
 }
}
/********** Media Query For Mobile End **********/
/***********************************************/

/********** Media Query For Ipad Start **********/
/**************************************************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 /* common */
 h1 {
  font-size: 4rem;
 }

 p {
  font-size: 2rem;
 }

 .p-foot {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
 }

 h3 {
  padding-top: 2.8rem;
 }

 .h3-light {
  margin-bottom: 1.5rem;
 }

 h5 {
  font-size: 1.9rem;
  font-weight: 500;
 }

 .btn-style {
  margin-bottom: 2rem;
 }

 .star-icon {
  font-size: 1.4rem;
 }

 /********* header Start (I)*********/
 .head {
  background-position: center right 67%;
 }

 /********* Section 1 Start Category (I)*********/
 .sec1 .hr {
  width: 15%;
 }
 /********** Section 2 Best Seller Start (I)**********/

 .sec2 .hr {
  width: 10%;
 }

 /********** Section 3 Start New Arrival (I)**********/
 .sec3 .hr {
  width: 20%;
 }

 /******* Section 4 Deal of the Week (I)*********/
 .sec4 .hr {
  width: 30%;
 }

 .deal {
  flex-flow: column nowrap;
 }

 .deal-common {
  width: 65%;
 }

 .deal-text {
  order: 2;
 }

 .deal-img {
  order: 1;
 }

 .deal-common img {
  width: 100%;
 }

 /* timer */
 #timer {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3rem;
 }

 #timer div {
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  color: var(--btnColor);
  min-width: 6rem;
 }

 #timer div span {
  color: var(--starColor);
 }

 /******* Section 5 Start Testimony (I)*********/
 .sec5 .hr {
  width: 30%;
 }

 .testimony {
  flex-flow: row wrap;
 }

 .test-common {
  width: 48%;
  margin-bottom: 2.8rem;
 }

 /********** Section 7 Footer Start (I)**********/

 .foot-content {
  flex-flow: row wrap;
 }

 .shop {
  width: 45%;
 }

 .info,
 .account {
  width: 20%;
 }

 .news {
  width: 100%;
 }

 /************Img Slide Show Section Start img gallery (I)**********/
 /* page navigation */
 .top-notation {
  margin-bottom: 0rem;
 }

 .top-span {
  font-size: 1.5rem;
  margin-right: 0.9rem;
 }

 /* main container */
 .gallery {
  flex-flow: column nowrap;
 }

 /* left img */
 .left-gallery {
  width: 90%;
  margin: 5rem auto 2rem;
 }

 .prev,
 .next {
  top: 50%;
  padding: 1rem;
  font-size: 1.8rem;
 }

 /* right text */
 .right-text {
  width: 90%;
  margin: 0 auto;
 }

 .right-text h3 {
  font-size: 2rem;
 }

 .quantity {
  width: 12%;
 }

 .right-text p {
  max-width: 100%;
 }

 /************ Contact Page Start (I)**********/
 .sec-form {
  flex-flow: column nowrap;
  padding: 10rem 0 0;
 }

 .img-container {
  width: 50%;
  margin: 0 auto;
 }

 .form-container {
  width: 90%;
  margin: 0 auto;
 }

 .log p {
  font-size: 1.8rem;
 }

 /************ Cart Page Start (I)**********/
 /* main container */
 .cart {
  flex-flow: column nowrap;
 }

 .cart-common {
  padding: 3rem 0.5rem;
  margin-bottom: 2rem;
 }

 /* product left side */
 .cart-product {
  width: 100%;
 }

 .cart-product-common .quantity-cart {
  width: 10%;
 }

 .coupon {
  flex-flow: column nowrap;
 }

 .coupon input {
  margin-bottom: 2rem;
 }

 /* total right side */
 .cart-total {
  width: 100%;
 }

 .cart-input-common {
  width: 90%;
 }

 .update-total {
  font-size: 1.2rem;
 }
}
