/********** Utility Start **********/
/**********************************/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 font-size: 62.5%;
 font-family: "Poppins", sans-serif;
}

button,
a {
 font-family: "Poppins", sans-serif;
 text-decoration: none;
}

/* classes */

.container {
 max-width: 90%;
 margin: 0 auto;
 padding: 5% 0;
}

.red {
 color: #ff0000;
}

.purple {
 color: #680068;
}

/* h1 */
h1 {
 font-size: 5rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 line-height: 5.5rem;
 margin-bottom: 2rem;
 font-weight: 600;
 color: #181818;
}

/* p-tag */
p {
 color: #444;
 font-size: 1.8rem;
 margin-bottom: 2rem;
}
.p-foot {
 color: #b2b2b2;
 font-size: 1.4rem;
 margin-bottom: 2.5rem;
}

/* h3 */
h3 {
 font-size: 3rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 margin-bottom: 1rem;
 color: #181818;
 padding-top: 5rem;
 font-weight: 500;
}
.h3-light {
 font-size: 2.5rem;
 letter-spacing: 0.1rem;
 text-transform: capitalize;
 margin-bottom: 2.5rem;
 color: #f0f0f0;
 font-weight: 400;
}
h5 {
 font-size: 1.8rem;
 color: #444;
 margin-bottom: 1rem;
 font-weight: 600;
}

.h5-bottom {
 margin-bottom: 4rem;
}
/* btn-style */
.btn-style {
 background-color: #cc0000;
 display: inline-block;
 color: #fff;
 padding: 1rem 2rem;
 font-size: 1.4rem;
 border-radius: 20rem;
 transition: all 0.2s ease-in-out;
}

.btn-style:hover {
 background-color: transparent;
 color: #ff0000;
 border: 1px solid #ff0000;
}

/* rating star common */
.star-icon {
 font-size: 1.4rem;
 margin-bottom: 1rem;
}

.checked {
 color: orangered;
}

/********** Utility End **********/
/**********************************/

/********** Header Start **********/
/**********************************/
.head {
 background-image: url("../img/hero.jpg");
 background-size: cover;
 width: 100%;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2rem 5%;
 width: 100%;
 position: fixed;
 left: 0;
 top: 0;
 z-index: 2;
 background-color: white;
}

/* logo */
.logo a {
 font-size: 2.2rem;
 font-weight: 700;
 letter-spacing: 0.1rem;
 border: 2px solid purple;
 padding: 0 0.5rem;
 position: relative;
}
/* ul */
.nav-menu {
 display: flex;
 position: relative;
}

/* li */
.nav-list {
 list-style-type: none;
 padding-left: 1.5rem;
 position: relative;
}

/* a */
.nav-link {
 font-size: 1.8rem;
 color: #444;
 transition: all 0.2s ease-in-out;
 position: relative;
 display: block;
 padding-left: 3rem;
}

.nav-link:hover,
.nav-link.current {
 color: #ff0000;
}

/* cart icon */
.cart-icon {
 color: #444;
 font-size: 1.8rem;
 margin-left: 0.5rem;
}

/* hamburger */
.hamburger {
 display: none;
}

.bar {
 display: block;
 width: 2.4rem;
 height: 0.3rem;
 margin-bottom: 0.5rem;
 background-color: #444;
 transition: all 0.3s ease-in-out;
}

/* for sticky navar bar big screen style*/
.navbar.sticky {
 padding: 1.5rem 5%;
 transition: all 0.4s ease-in-out;
}

/* tagline */
.tag-line {
 padding-left: 5%;
 padding-top: 25rem;
 padding-bottom: 26rem;
}

/* arrow icon */
.arrow-icon {
 margin-left: 0.5rem;
 font-size: 1.4rem;
}
/********** Header End **********/
/**********************************/

/********** Section 1 category start **********/
/*********************************************/
.sec1 {
 width: 100%;
 text-align: center;
 padding-top: 5rem;
}
.sec1 .hr {
 display: block;
 width: 12%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: red;
}

.category {
 display: flex;
 justify-content: space-between;
}

.category-common {
 width: 32%;
}
.category-common img {
 width: 100%;
 opacity: 1;
}
/********** Section 1 End **********/
/*************************************/

/********** Section 2 Best Seller Start **********/
/************************************************/
.sec2 {
 text-align: center;
 background-color: #f0f0f0;
}

.sec2 .hr {
 display: block;
 width: 5%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: red;
}

.popular {
 display: flex;
 justify-content: space-between;
 text-align: left;
}

.popular-common {
 width: 24%;
}

.popular-common img {
 width: 100%;
}

/********** Section 2 End **********/
/*************************************/

/********** Section 3 Start **********/
/*************************************/
.sec3 {
 text-align: center;
 /* background-color: #f0f0f0; */
}

.sec3 .hr {
 display: block;
 width: 12%;
 margin: auto;
 display: block;
 height: 0.4rem;
 background-color: red;
}

.latest {
 display: flex;
 justify-content: space-between;
 text-align: left;
 flex-flow: row wrap;
}

.latest-common {
 width: 24%;
}

.latest-common img {
 width: 100%;
}

/********** Section 3 End **********/
/*************************************/

/********** Section 4 Start **********/
/*************************************/
.sec4 {
 width: 100%;
 background-image: linear-gradient(to right, #dd5e89, #f7bb97);
 text-align: center;
}
.sec4 .hr {
 display: block;
 width: 20%;
 margin: 0 auto 2rem;
 display: block;
 height: 0.4rem;
 background-color: #ff0000;
}
.deal {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.deal-common {
 width: 48%;
}
.deal-common img {
 width: 100%;
}

/* timer */
#timer {
 font-size: 3rem;
 font-weight: 500;
 color: red;
 padding: 1rem;
 margin-bottom: 2rem;
}

#timer div {
 display: inline-block;
 min-width: 8rem;
 padding: 1rem;
 background: #fff;
 border-radius: 1rem;
 margin: 1.5rem;
}

#timer div span {
 color: red;
 display: block;
 font-size: 1rem;
 font-weight: 600;
}
/* timer */

/********** Section 4 End **********/
/*************************************/

/********** Section 5 Start **********/
/*************************************/
.sec5 {
 text-align: center;
 width: 100%;
}
.sec5 .hr {
 display: block;
 width: 25%;
 margin: 0 auto 2rem;
 display: block;
 height: 0.4rem;
 background-color: #ff0000;
}
.testimony {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}
.test-common {
 width: 23%;
 background-color: #f0f0f0;
 padding: 2rem;
 border-radius: 2rem;
}
.quote-icon {
 font-size: 2.5rem;
 color: orangered;
 margin-bottom: 2rem;
}
.test-common img {
 border-radius: 50%;
}
/********** Section 5 End **********/
/*************************************/

/********** Section 6 Start**********/
/*************************************/
.sec6 {
 width: 100%;
 background-color: #303030;
 text-align: center;
}
.brand {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.brand-common {
 width: 20%;
}

.brand-common img {
 width: 30%;
 filter: brightness(0%);
 transition: all 0.2s ease-in-out;
}
.brand-common img:hover {
 filter: brightness(100%);
}
/********** Section 6 End**********/
/*************************************/

/********** Section 7 Footer Start**********/
/*****************************************/
.foot {
 width: 100%;
 background-color: #191919;
}
.foot-content {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 margin-bottom: 5rem;
}

/* shop info  */
.shop {
 width: 30%;
}

.foot-social {
 display: flex;
 list-style-type: none;
}
.foot-social li {
 font-size: 1.6rem;
 margin-right: 3rem;
 color: #b2b2b2;
 background-color: #444;
 padding: 1rem 1.5rem;
 border-radius: 50%;
}

/* info and acount */
.info,
.account {
 width: 15%;
}

.common-ul li {
 list-style-type: none;
 margin-bottom: 2.5rem;
}

/* news */
.news {
 width: 30%;
}
.foot-form {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
.foot-form input {
 width: 70%;
 padding: 0.6rem 1rem;
 border: none;
}
.foot-form input:focus {
 border: none;
 outline: none;
}

.foot-form-btn {
 display: inline-block;
 background-color: red;
 padding: 0.5rem 1rem;
 font-size: 1.2rem;
 color: white;
 letter-spacing: 0.1rem;
}

/* copy right */
.foot-hr {
 margin-bottom: 2rem;
}
.copy-right {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.payment-card {
 font-size: 3.5rem;
 color: #b2b2b2;
}

/********** Section 7 Footer End**********/
/*****************************************/

/********** Media Query For Mobile Start **********/
/***********************************************/
@media only screen and (min-width: 280px) and (max-width: 768px) {
 /* common class start*/
 h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  font-weight: 600;
 }

 p {
  font-size: 1.6rem;
 }

 /* common class start*/

 /***** header Start *****/
 .head {
  background-position: center right 50%;
 }

 .nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: #f0f0f0;
  flex-direction: column;
  width: 100%;
 }

 .nav-list {
  margin: 2rem auto;
 }

 .nav-list,
 .nav-link {
  padding-left: 0;
 }

 .hamburger {
  display: block;
 }

 /* when we click on hamburger */
 .navbar.active {
  background-color: #f0f0f0;
 }

 .nav-menu.active {
  top: 6rem;
 }

 /* hamburger transform */
 .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
 }
 .hamburger.active .bar:nth-child(2) {
  opacity: 0;
 }
 .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
 }

 /* hamburger color */
 .hamburger.active .bar {
  background-color: #444;
 }

 /* tagline */
 .tag-line {
  padding-bottom: 20rem;
 }

 /***** header End *****/
}
/********** Media Query For Mobile End **********/
/***********************************************/
